.queryvariables {
    display: flex;
    overflow-y: auto;
    border: 1px black solid;
    border-radius: 5px;
    flex-direction: column;
    &__header {
        display: flex;
        align-items: center;
        border-bottom: 1px black solid;
    }
    &__name {
        width: 60%;
        max-height: 30px;
        text-align: center;
    }
    &__add {
        height: 30px;
    }
}

.queryvariable {
    display: flex;
    justify-content: space-around;
    width: 100%;
    &__name {
        width: 47%;
    }
    &__value {
        width: 47%;
    }
}